<h1>Datetime component test</h1>
<div>
    <p> Primeeng date picker</p>
</div>
<div>
    <p-calendar [(ngModel)]="value" showTime="showTime" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>

</div>
<hr>
<p> bootstrap ng date picker + time picker</p>
<div class="form-group row">
    <div class="col-lg-3">
        <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon" (click)="d.toggle()">
                <i class="fa fa-fw fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
     <div class="input-group">
         <ngb-timepicker [(ngModel)]="time" [spinners]="off"></ngb-timepicker>
         <span class="input-group-addon"><i class="fa fa-fw fa-clock-o"></i></span>

    </div>
    </div>
</div>

<hr>
<div class="form-group col-lg-12">
<pre>Selected date: {{date | json}}</pre>
<pre>Selected time: {{time | json}}</pre>
</div>
<div class="form-group col-lg-12">

    <button class="btn btn-success">it works</button>
    <i class="fa fa-fw fa-thumbs-up"></i>
    </div>
